*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection{
    color:#fff;
    background-color: black;
    
}

html,body {
    height: 100%;
    width: 100%;
}
body{
    
    background-color: #F7F7F7;
}

#nav{
    /* height: 100px; */
    width: 100%;
    /* background-color:rgb(176, 37, 204); */
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#links{
    padding: 10px;
}
#nav-part1{
    /* background-color: red; */
    height: 82px;
    overflow: hidden;
}
#nav-part1 svg{
    display: block;
}
#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0 20px;;
}
#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #f7f7f7;
}

#nav-part2 #icons i{
    font-size: 18px;
    margin: 0 20px;
    font-weight: 100;
}

#cursor{
    height: 150px;
    width: 150px;
    background-color: blanchedalmond;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%,-50%) scale(0);
}

#page1{
   min-height:100vh;
   position : relative;
   width: 100%;
   padding: 0 1vw;
   padding-top: 20vh;
   
}
#page1 h1{
    font-size: 15vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 14vw;
    letter-spacing: -8px;
}
#videocontainer{
    height: 100vh;
    width: 100%;
    background-color: grey;
    margin-top: 1vw;
    position:relative ;
}
#videocontainer video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#videocontainer #play{
    padding: 3vw 2.2vw;
    background-color: black;
    color: #fff;
    font-size: 1.3vw;
    position: fixed;
    text-transform: uppercase;
    font-family: futura;
    border-radius: 50%;
    opacity: 0;
    scale: 0;


}

#page2{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
}

#page2 .elem{
    height: 100%;
    width: 31%;
    /* background-color: blue; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 .elem img{
    height: 100%;
    width: 100%;
    object-fit: cover ;
    scale: 1.2;
}
#page2 .elem .dets{
    height: 60px;
    border-radius: 50px;
    width: 70%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: palegoldenrod;
}
#page3{
    min-height: 120vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.child{
    height: 54vh;
    width: 38vw;
    /* background-color:red;
    border: 2px solid #000; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.child img{
    height: 100%;
}

@media (max-width:600px) {
    
    #nav{
        /* height: 100px; */
        width: 100%;
        /* background-color:rgb(176, 37, 204); */
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
    }
    
    #nav #nav-part2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    #links{
        padding: 10px;
        display:none;
    }
    #nav-part1{
        /* background-color: red; */
        height: 67px;
        overflow: hidden;
    }
    #nav-part1 svg{
        display: block;
        height: 67px;
        width: 80px;
    }
    #nav #twogoodlogo{
         height: 40px;
         margin-left: -20px;
    }
    
    #icons{
        padding: 7px;
        border-radius: 50px;
        background-color: #f7f7f7;
    }
    #nav-part2 #icons i{
        font-size: 15px;
        margin: 0 20px;
        font-weight: 100;
    }
    #page1{
        min-height: 70vh;
        width: 100%;
        padding:  0 3vw;
        padding-top: 25vh;
    }

    #page1 h1 {
        font-size: 15.5vw;
        letter-spacing: -3px;
    }

    #videocontainer{
        height: 25vh;
        margin-top: 3vw;
    }

    #videocontainer #play {
        padding: 10vw 8vw;
        font-size: 5vw;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        scale: 1;
        transform: translate(-50%,-50%);
    }

    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 5vw 3vw;
        flex-direction: column;
        justify-content: space-between;
        /* background-color: red; */
    }
    
    #page2 .elem{
        height: 100vh;
        width: 100%;
        /* background-color: blue; */
        overflow: hidden;
        margin-bottom: 3vw;
    }

    #page2 .elem .dets{
        height: 40px;
        border-radius: 50px;
        width: 70%;
        position: absolute;
        transform: translate(-50%,-50%);
        background-color: palegoldenrod;
    }
    #page3{
        min-height: 120vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .child{
        height: 54vh;
        width: 88vw;
        /* background-color:red;
        border: 2px solid #000; */
        position: relative;
        padding: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .child img{
        height: 100%;
    }
    
   
}